@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap')

// Mengubah Scroll bar pada Chrome
::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-thumb
    background-color: gray

// Warna Primary
$colorPrimary: #8421d4fa

body
    // border: 1px solid black
    margin: 0
    padding: 0

    // Mengatur Posisi elemen body agar fit sisi atas, bawah, kiri, dan kanan.
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    font-family: 'Tajawal', sans-serif

    h2
        text-transform: uppercase
        font-weight: bold
        color: $colorPrimary

    p, ul, li
        font-size: 18px
        font-weight: 400
        line-height: 30px
        color: #000000

    code, .syntax
        font-family: 'Ubuntu Mono'
        background-color: #e2e2e286
        // font-weight: 2
    code
        padding: 2px

    .syntax
        display: block
        padding: 1px 20px
        box-sizing: border-box
        border-radius: 10px

    #main-doc
        // Mengatur Posisi Navbar ke Kiri, dan Content ke Kanan
        display: grid
        grid-template-rows: repeat(5, 1fr)
        grid-template-areas: 'nav' 'nav' 'content' 'content'    'content'

        height: 100% // Mengatur Tinggi dari Class main-section

        #navbar
            grid-area: nav
            background-color: $colorPrimary
            overflow: scroll

            header
                text-align: center
                color: white

            .links
                text-transform: uppercase
                display: flex
                flex-direction: column

                li
                    padding: 3px 0

                ul, li
                    color: white

                    a
                        // border: 1px solid
                        padding-left: 0
                        text-decoration: none
                        color: white

                        //Animasi hover list start
                        animation-name: slide-end
                        animation-duration: 200ms
                        animation-fill-mode: forwards

                    @keyframes slide-end
                        0%
                            padding-left: 7px

                    a:hover
                        font-weight: bold

                        //Animasi hover list end
                        animation-name: slide-start
                        animation-duration: 200ms
                        animation-fill-mode: forwards

                    @keyframes slide-start
                        100%
                            padding-left: 7px

        .doc-box
            // border: 1px solid green
            grid-area: content
            box-sizing: border-box
            padding: 0 20px
            overflow: scroll
            .main-section
                padding: 0 2vw

                .reference
                    color: black

    @media screen and (min-width: 860px)
        #main-doc
            grid-template-rows: auto
            grid-template-columns: repeat(4, 1fr)
            grid-template-areas: 'nav content content content'